{{#if nombreUsuario}}
  <ul>
		<li><a href="http://localhost:8080/api/productos">Productos</a></li>
		<li><a href="http://localhost:8080/api/carrito">Carrito</a></li>
		<li><a href="http://localhost:8080/api/usuarios/cerrarSesion">Cerrar Session</a></li>
</ul>
{{/if}}
