{{#if error }}
<section>
	<h1>Error al intentar Registrarse</h1>
	<div class="box">
		<p>{{error}}</p>
		<button><a href="http://localhost:8080/api/usuarios/registro">Vovler</a></button>
	</div>

</section>
{{else}}
	<section>
	<h1>Registarse</h1>
	<div class="box">
		{{!-- <form action="/api/productos/create" method="post"> --}}

			<form action="/api/usuarios/registro" method="post" enctype="multipart/form-data">

				<label for="username">Email</label>
				<input type="text" name="email" placeholder="Ingrese Correo" id="email">
				<br>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Ingrese Correo" id="password">
				<br>
				<label for="nombre">Nombre</label>
				<input type="nombre" name="nombre" placeholder="Ingrese Correo" id="nombre">
				<br>
				<label for="direccion">Direccion</label>
				<input type="direccion" name="direccion" placeholder="Ingrese Correo" id="direccion">
				<br>
				<label for="edad">Edad</label>
				<input type="edad" name="edad" placeholder="Ingrese Correo" id="edad">
				<br>
				<label for="numeroTelefono">Telefono</label>
				<input type="numeroTelefono" name="numeroTelefono" placeholder="Ingrese Correo" id="numeroTelefono">
				<br>
				<label for="fotoUrl">Avatar</label>
      	<input type="file" name="fotoUrl" id="fotoUrl" />
				<br>
				<input type="submit" value="Aceptar">
			</form>
			<br>
			<button><a href="http://localhost:8080/api/usuarios/login">Volver</a></button>
			<br>
	</div>
</section>
{{/if}}